my_key.txt
updates/
working/
update/
tesseract
models
fonts
data2
.idea/
data_export
data_import
__pycache__/
*.msgpack
data/
*$py.class
configs/
paddle_model/
ok/
*.dat
ok
md5.txt
update.bat
click_screenshots/
test_scripts/
screenshots/
thread_dumps.txt
*.so
.Python
test/
logs/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
.venv/
python/
*.manifest
pip-log.txt
pip-delete-this-directory.txt
autohelper
working_images/
custom_chars/
gift_configs/
.vscode/
ok_tasks/
ok_import/
temp_images/
.ruff_cache
!mid_lib/
mid_lib/*
!mid_lib/public
/*.url
/*.zip
